*{
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: rgb(106, 106, 162);
  }

  .rectangle-back {
    width: 200px;
    height: 100px;
    background-color: brown;
  }

 