  .rectangle {
    width: 200px;
    height: 100px;
    background-color: blue;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }
  
  .rectangle:hover {
    background-color: red;
  }
  
  body {
    background-image: url('../background-images/Untitled_Artwork.png');
    transition: background-image 0.5s ease;
  }
  
  .rectangle:hover ~ body {
    background-image: url('../background-images/Dimension_Test.png');
  }